# cargo build artefacts
target
ext/redwood/target
# nix build artefacts
result
# bundler artefacts
.bundle/
*.gem
lib/redwood/redwood.bundle
lib/redwood/redwood.so
# local pre-commit config
.pre-commit-config.yaml

tmp/
